# Python & Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Jupyter Note
.ipynb_checkpoints/

# PyTorch & Deep Learning
*.pth
*.pt
*.ckpt
*.weights
*.onnx
# TensorBoard logs (if used later)
runs/
# Weights & Biases logs (if used later)
wandb/

# Datasets & Outputs
# CUB-200 데이터셋 등 용량이 큰 데이터 폴더
data
# 학습 결과나 이미지가 저장될 폴더
outputs/
# 로그 파일들
*.log

# OS & Editor
.DS_Store
.vscode/
.idea/

# 공부 기록용 코드
study_code/

# 모델 가중치 폴더
models

# 연습장
design_notes

# 임시
dinov3
wget-log

# 결과
