# Environments
.venv/
.env

# Pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Checkpoints
data/cub-200-2011/
ckpt/
samples/
visual/
scratch/
test_uv/

# Jupyter
*.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store

# pyright
pyrightconfig.json